
.formulario{
    background-color: rgba(255, 255, 255, 0.651);
    grid-column: 10/30;
    grid-row: 3/ 50;
    border-radius: 14px;
    height: 97vh;
}
.formulario{
    display: flex;
    flex-direction: column; 
}.tittle{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}.form{
    font-size: 1.5em;
 
}.radio{
    font-size: 0.9em;
}.doc{
    display: flex;
    justify-content: space-around;
}.nam{
    display: flex;
    justify-content: space-around;
}.nac{
    display: flex;
    justify-content: space-around;
}.em{
    display: flex;
    justify-content: space-around;
}.coun{
    display: flex;
    justify-content: space-around;
}.pass{
    display: flex;
    justify-content: space-around;
}.terminos{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}#info{
    width: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}#info input, select{
    margin-top: 2%;
    height: 2.24em;
    border-radius: 2%;
    box-shadow: 2px 2px 9px #000;
}.terminos p{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    margin-bottom: 1%;
}.terminos button{
    font-size: 1.7em;
     width: 8em;
    height: 2em;
    color: #FFFEFC;
    background-color: #000;
}

/*Modal*/
.modalito{
    position: fixed;
    opacity: 0;
    pointer-events: none
}

.modalito_show{
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.561);
    display: flex;
    opacity: 1;
    pointer-events: unset;
}
.modal_cotainer{
    background-color: aliceblue;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    padding: 3em 2.5em;
    margin: auto;
    display: grid;
    gap: 1em;
    
}.modal_cotainer h1{
    font-size: 280%;
    display: flex;
    justify-content: center;
}
.modal_cotainer p{
    font-size: 170%;
}
#close{
    font-size: 150%;
    display: flex;
    justify-content: flex-end;
    color: red;
    margin-left: 105%;
    margin-top: -7%; 
}

@media screen and (min-width: 320px) and (max-width: 620px){
   
    .Container{

        background-size: cover;
        display: grid;
        height: auto;
    }
    .logos{
        background-color: #05498579;
        grid-column: 1/51;
        grid-row: 2/7;
    }.formulario{
        grid-column: 2/30;
        grid-row: 8/51;
        height: 100%;
    }.imga{
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }.logos img{

        width: 60%;
    }.bienvenido{
        display: none;
    }.tittle{
        font-size: 1.3em;
    }.texts{
        margin-top: 1%;
        display: flex;
        font-size: 0.5em;
    }.radio{
        font-size: 1em;
    }.doc{
        display: flex;
        flex-direction: column;
    }.nam{
        display: flex;
        flex-direction: column;
    }.nac{
        display: flex;
        flex-direction: column;
    }.em{
        display: flex;
        flex-direction: column;
    }.coun{
        display: flex;
        flex-direction: column;
    }.pass{
        
        display: flex;
        flex-direction: column;
    }#info{
        width: 80%;
        margin-left: 10%;
    }.form{
        font-size: 1em;
    }.terminos{
        font-size: 0.8em;
    }
}
/*portatil*/
@media screen and (min-width: 621px) and (max-width:1024px) {
    .bienvenidos{
        font-size: 0.7em;
        margin-left: 5%;
    }.tittle{
        margin-top: 6%;
        font-size: 2em;
    }.form{
        margin-top: 3%;
        font-size: 1.5em;
    }.terminos{
        margin-top: 5%;
    }

}