.container-complete
{
    background: url(./Fondo.jpeg) no-repeat;
    background-size: cover;
    color: white;
    padding-top: 10rem;
    height: 100vh;
}
.container
{
    background:  url(./Cuadrito.jpeg) no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.82;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}
.iconoQQ
{
    background-color: var(--Magenta);
    font-size: 2rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.iniciosesion
{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    color: #fff;
}
.labe
{
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px 1px rgb(97, 97, 97);
}
.inpu
{
    padding-bottom: 8px;
    border: none;
    padding-left: 5rem;
    border-radius: 2px;
    box-shadow: 0px 1px rgba(97, 97, 97,500);
}.ingre{
    text-decoration: none;
    color: var(--blanco)
}
#boton
{
    font-size: 1rem;
    color: #fff;
    background-color: var(--negro2);
    width: 100%;
    font-family: 'Marcellus', serif;
    padding-bottom: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 2px;
    box-shadow: 0px 1px rgba(97, 97, 97,500);
}
.par a
{
    text-decoration: none;
    color: var(--negro2);
}
.par
{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem ;
    text-align: center;
    font-weight: bolder;
    text-shadow: -1px 1px rgb(153, 153, 153);
}
#logo img
{
    width:10rem;
}
#logo
{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}



@media screen and (min-width: 320px) and (max-width:768px){

    .container-complete
    {
        background: url(./Fondo.jpeg) no-repeat;
        background-size: cover;
        height: 100vh;
        color: white;
        padding-top: 5rem;
    }
    #logo img
    {
        width:10rem;
    }
    #logo
    {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
    }
    .container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.82;
        width: 300px;
        padding-bottom: 2rem;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        margin-top: 17%;
        height: 50%;
    }
    .login
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -7%;
    
    }
    .iconoQQ
    {
        background-color: var(--Magenta);
        font-size: 2rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .iniciosesion{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        color: #fff;
       
    }
    .labe
    {
        font-family: 'Roboto', sans-serif;
        text-shadow: -1px 1px rgb(97, 97, 97);
    }
    .inpu{
        padding-bottom: 8px;
        border: none;
        padding-left: 0.5rem;
        border-radius: 2px;
        box-shadow: 0px 1px rgba(97, 97, 97,500);
    }
    #boton
    {
        font-size: 1rem;
        color: #fff;
        background-color: var(--negro2);
        width: 100%;
        font-family: 'Marcellus', serif;
        padding-bottom: 5px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-radius: 2px;
        box-shadow: 0px 1px rgba(97, 97, 97,500);
    }
}





@media screen and (min-width: 769px) and (max-width: 1024px)
{
    
    .container-complete
    {
        background: url(./Fondo.jpeg) no-repeat;
        background-size: cover;
        height: 100vh;
        color: white;
        padding-top: 5rem;
    }
    #logo img
    {
        width:10rem;
    }
    #logo
    {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
    }
    .container
    {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0.82;
        padding-bottom: 2rem;
        border-radius: 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        padding: 1%;
    }
    .login
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;
    }
    .iconoQQ
    {
        background-color: var(--Magenta);
        font-size: 2rem;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .iniciosesion
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
        color: #fff;
    }
    .labe
    {
        font-family: 'Roboto', sans-serif;
        text-shadow: -1px 1px rgb(97, 97, 97);
    }
    .inpu
    {
        padding-bottom: 8px;
        border: none;
        padding-left: 5rem;
        border-radius: 2px;
        box-shadow: 0px 1px rgba(97, 97, 97,500);
    }
    #boton
    {
        font-size: 1rem;
        color: #fff;
        background-color: var(--negro2);
        width: 100%;
        font-family: 'Marcellus', serif;
        padding-bottom: 5px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-radius: 2px;
        box-shadow: 0px 1px rgba(97, 97, 97,500);
    }
    .par a
    {
        text-decoration: none;
        color: var(--negro2);
    }
    .par
    {
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem ;
        text-align: center;
        font-weight: bolder;
        text-shadow: -1px 1px rgb(153, 153, 153);
    }
}