.feature-box{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.feature-box i{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature-box h3{
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.box-dark{
    background-color: rgba(0, 0, 0, 0.5)
}

.box-blue{
    background-color: #00325eae;
}

@media screen and (min-width: 400px) and (max-width: 426px) 
{
      /*FEACTURES*/
      .box-dark 
      {
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 5%;
      }
      .box-blue 
      {
            background-color: #00325eae;
            margin-top: 5%;
      }
}
@media screen and (min-width: 427px) and (max-width: 473px) 
{
      /*FEACTURES*/
      .box-dark 
      {
            background-color: rgba(0, 0, 0, 0.5);
            margin-top: 5%;
      }
      .box-blue 
      {
            background-color: #00325eae;
            margin-top: 5%;
      }
}
@media screen and (min-width: 473px) and (max-width: 768px) 
{
      /*FEACTURE*/
      .box-dark 
      {
            background-color: rgba(0, 0, 0, 0.5);
            width: 35%;
            margin-top: 3%;
      }
      .box-blue 
      {
            background-color: #00325eae;
            width: 35%;
            margin-top: 2%;
      }
}