.opiniones
{
      padding: 0em;
      margin-left: -2.5%;
}
.titulo h1
{
      margin-bottom: 2%;
}
.carrusel
{
      display: flex;
      justify-content: space-around;
      width: 100%;
      color: white;
}
.carrusel img
{
      width: 100%;
      height: 100%;
      border-radius: 50%;   
}
.descripcion
{
      height: 100%;
}
.icons p
{
      margin-left: 2%;
}
#calificacion img
{
      width: 14%;
      height: 3.5em;
}
.nombre
{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      background: url(Group\ 200.svg);
      background-size: cover;
}
.titulo
{
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    background-color: var(--negro);
    align-items: center;
    color: white;
    height: 7em;
    width: 100%;
}
.descripcion
{
      position: relative;
      display: flex;
      align-items: center;
      padding: 3%;
      height: 7rem;
}
#calificacion
{
      margin-top: -3%;
      margin-bottom: 3%;
      height: 100%;
      width: 27em;
      background: linear-gradient(49.54deg, #337AB7 6%, #0B3860 90.34%);
      margin-left: 3%;
}
.nombre img
{
      padding: 2%;
}
.estrellas
{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3%;
}

@media screen and (min-width: 400px) and (max-width: 426px) 
{
      /*OPINIONES*/
      .opiniones 
      {
            padding: 0em;
            width: 34em;
            margin-top: 3%;
      }
      .carrusel 
      {
            display: flex;
            justify-content: space-around;
            width: 34.8em;
            color: white;
      }
      #calificacion 
      {
            margin-top: -3%;
            margin-bottom: 3%;
            height: 100%;
            width: 27em;
            background: linear-gradient(49.54deg, #337AB7 6%, #0B3860 90.34%);
            margin-left: 2%;
      }
      .descripcion 
      {
            position: relative;
            display: flex;
            align-items: center;
            padding: 3%;
            height: 9rem;
      }
      .titulo 
      {
            font-size: 1.7em;
            display: flex;
            justify-content: center;
            background-color: var(--negro);
            align-items: center;
            color: white;
            height: 7em;
            width: 20.5em;
      }
}
@media screen and (min-width: 427px) and (max-width: 473px) 
{
      /*OPINIONES*/
      .opiniones 
      {
            padding: 0em;
            width: 37.2em;
      }
      .carrusel 
      {
            display: flex;
            justify-content: space-around;
            width: 28.9em;
            color: white;
            margin-left: 12%;
      }
      #calificacion 
      {
            margin-top: -3%;
            margin-bottom: 3%;
            height: 100%;
            width: 27em;
            background: linear-gradient(49.54deg, #337AB7 6%, #0B3860 90.34%);
            margin-left: 2%;
      }
      .descripcion 
      {
            position: relative;
            display: flex;
            align-items: center;
            padding: 3%;
            height: 9rem;
            width: 12.3em;
      }
}

@media screen and (min-width: 473px) and (max-width: 768px) 
{
      /*OPINIONES*/
      .opiniones 
      {
            margin-left: -2.5%;
            width: 39em;
      }
      .titulo 
      {
            font-size: 1.7em;
            display: flex;
            justify-content: center;
            background-color: var(--negro);
            align-items: center;
            color: white;
            height: 7em;
            width: 23.5em;
      }
      #calificacion 
      {
            margin-top: -3%;
            margin-bottom: 3%;
            height: 100%;
            width: 27em;
            background: linear-gradient(49.54deg, #337AB7 6%, #0B3860 90.34%);
            margin-left: 2%;
      }
      .descripcion 
      {
            position: relative;
            display: flex;
            align-items: center;
            padding: 3%;
            height: 8rem;
      }
      .carrusel 
      {
            display: flex;
            justify-content: space-around;
            width: 40em;
            color: white;
      }
}