nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro2);
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    padding: 1.5rem;
}
.item button
{
      color: white;
      font-size: 0.8em;
      border-radius: 10%;
      background-color: #337AB7;
      border: none;
      padding: 0.5rem;
}
nav a
{
      color: var(--blanco);
      text-decoration: none;
      padding: 1rem;
      transition: .5s all ease;
}
.logo img
{
      height: 3rem;     
}

@media screen and (min-width: 769px)
{
      .logo i
      {
            display: none;
      }
      .menu-hr
      {
            display: none;
      }
}
@media screen and (min-width: 400px) and (max-width: 426px) 
{
      .logo
      {
            background-color: var(--negro2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 1%;
      }
      .logo img
      {
            width: 100%;
            max-width: 200px;
      }
      .logo i
      {
            color: var(--blanco);
            font-size: 2rem;
      }
      .menu
      {
            background-color: rgba(1, 10, 52, 0.838);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
      }
      .menu hr
      {
            width: 100%;
            background-color: var(--blanco);
      }
      .item
      {
        padding: 1rem;
      }
      nav a
      {
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
      }
      nav a:hover
      {
            background-color: #0B3860;
            width: 100%;
      }
      .menu button
      {
            padding: 1rem;
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
      }
      nav
      {
            display: flex;
            flex-direction: column;
            padding: 1%;
            background-color: #000;   
            transition: .5s ease;  
            width: 26em;
      }
      .menu
      {
            display: none;
            width: 100%;
            transition: .5s ease;  
      }
      .menu.active
      {
            display: flex;
            transform: translateY(0%);
      }
}
@media screen and (min-width: 427px) and (max-width: 473px) 
{
      .logo
      {
            background-color: var(--negro2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 1%;
      }
      .logo img
      {
            width: 100%;
            max-width: 200px;
      }
      .logo i
      {
            color: var(--blanco);
            font-size: 2rem;
      }
      .menu
      {
            background-color: rgba(1, 10, 52, 0.838);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
      }
      .menu hr
      {
            width: 100%;
            background-color: var(--blanco);
      }
      .item
      {
        padding: 1rem;
      }
      nav a
      {
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
      }
      nav a:hover
      {
            background-color: #0B3860;
            width: 100%;
      }
      .menu button
      {
            padding: 1rem;
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
      }
      nav
      {
            display: flex;
            flex-direction: column;
            padding: 1%;
            background-color: #000;   
            transition: .5s ease;  
            width: 26.6em;
      }
      .menu
      {
            display: none;
            width: 100%;
            transition: .5s ease;  
      }
      .menu.active
      {
            display: flex;
            transform: translateY(0%);
      }
}

@media screen and (min-width: 473px) and (max-width: 768px) 
{
      .logo
      {
            background-color: var(--negro2);
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            padding: 1%;
      }
      .logo img
      {
            width: 100%;
            max-width: 200px;
      }
      .logo i
      {
            color: var(--blanco);
            font-size: 2rem;
      }
      .menu
      {
            background-color: rgba(1, 10, 52, 0.838);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
      }
      .menu hr
      {
            width: 100%;
            background-color: var(--blanco);
      }
      .item
      {
        padding: 1rem;
      }
      nav a
      {
            color: var(--blanco);
            text-decoration: none;
            text-align: center;
      }
      nav a:hover
      {
            background-color: #0B3860;
            width: 100%;
      }
      .menu button
      {
            padding: 1rem;
            background-color:transparent;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            padding: 0.5rem;
            font-family: 'Marcellus', serif;
            color: var(--blanco);
      }
      nav
      {
            display: flex;
            flex-direction: column;
            padding: 1%;
            background-color: #000;   
            transition: .5s ease;  
      }
      .menu
      {
            display: none;
            width: 100%;
            transition: .5s ease;  
      }
      .menu.active
      {
            display: flex;
            transform: translateY(0%);
      }
}